/* Proximas dos selecciones es para cambiar los boxes de in out de python*/
figure[class$="highlight"] > pre, td.code pre {
  background-color: #FAFAFA;
  background-size: 3em 3em;
  background-position: 0px 10px;
  border-left: 7px solid #444;
}
div[class$="highlighter-rouge"] div.highlight pre.highlight, div[class$="highlighter-rouge"] div.highlight code {
  background-color: #FAFAFA;
  background-size: 3em 3em;
  background-position: 0px 10px;
  border-left: 7px solid #4286f4;
}